# Python data structures

In [2]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [4]:
# Print the elements on each index

L[-3]

'Michael Jackson'

List Content

In [5]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

List Operations

In [6]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

List slicing

In [8]:
L[3:5]

['MJ', 1]

In [9]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [10]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [11]:
# Change the element based on the index

A = ["disco", 10, 1.2]
A[0] = 'hard rock'
A

['hard rock', 10, 1.2]

In [13]:
#delete the element

del(A[0])
A

[1.2]

In [14]:
# Split the string, default is by space
'welcome'.split()

['welcome']

In [15]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

Copy and clone list

In [16]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
B

['hard rock', 10, 1.2]

In [17]:
# Examine the copy by reference

A[0] = "banana"
B[0]

'banana'

In [18]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [19]:
A[0] = "hard rock"
B[0]

'banana'

In [20]:
A[0]

'hard rock'