# Python Strings

In [1]:
#quotation marks for defining strings
"Michael Jackson"

'Michael Jackson'

In [2]:
#single quotation for defining strings
'Michael Jackson'

'Michael Jackson'

In [3]:
#digits and spaces
'1 2 3 9 8 7'

'1 2 3 9 8 7'

In [4]:
#Special characters
'@#$%^'

'@#$%^'

In [5]:
#print string
print("namaste")

namaste

In [6]:
#assign string to variable
Name = 'Barack Obama'
#Print value
Name

'Barack Obama'

Indexing

In [7]:
print(Name[1])

a

Negative Indexing

In [8]:
print(Name[-2])

m

Slicing

In [9]:
Name[0:3]

'Bar'

In [10]:
Name[:2]

'Ba'

Stride

In [11]:
Name[::2]

'Brc bm'

In [12]:
Name[0:5:2]

'Brc'

Concatenate strings

In [14]:
value = 'My name is: ' + Name 
value

'My name is: Barack Obama'

Escape Sequences

In [15]:
print("I am \n the best")

I am
 the best

In [16]:
print("I am \\ the best")

I am \ the best

String Operations

In [17]:
#Convert allthe characters in string in upper case
x = "Let me dance"
x.upper()

'LET ME DANCE'

In [18]:
#Replace the old string with new
x = "Let me dance"
y = x.replace("dance", "sing")
y

'Let me sing'